<ion-header>
  <ion-navbar>
    <ion-title>
      Photo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let photo of photos">
      <img src="{{photo.url}}" height="50" width="50">
    </ion-item>
  </ion-list>
</ion-content>
