<ion-header>
  <ion-navbar>
    <button ion-button icon-only>
      <ion-icon name="Menu"></ion-icon>
    </button>

    <ion-title>
      Wesley N2 - Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  <button ion-button color="dark" block [navPush]="Posts">Posts</button>
  <button ion-button color="dark" block [navPush]="Comments">Comments</button>
  <button ion-button color="dark" block [navPush]="Photos">Photos</button>
  <button ion-button color="dark" block [navPush]="AddPosts">Add Post</button>
</ion-content>