<ion-header>
  <ion-navbar>
    <ion-title>
      Post
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let post of posts">
      <h2>{{post.title}}</h2>
      <p>{{post.body}}</p>
    </ion-item>
  </ion-list>
</ion-content>
