<!--
  Generated template for the AddpostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addpost</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>Add Post</h2>
    <form (ngSubmit)="savePost()">
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" [(ngModel)]="post.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Body</ion-label>
        <ion-input type="text" [(ngModel)]="post.body" name="body"></ion-input>
        <button ion-button type="submit" block>Add User</button>
    </form>
  </ion-content>
