<ion-header>
  <ion-navbar>
    <ion-title>
      Comment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let comment of comments">
      <h2>{{comment.name}}</h2>
      <p><b>{{comment.email}}</b></p>
      <p>{{comment.body}}</p>

    </ion-item>
  </ion-list>
</ion-content>
